[Unit]
Description="build usql images daily at 11:05pm"

[Timer]
OnCalendar=*-*-* 23:05:00
Unit=usql-images.service

[Install]
WantedBy=timers.target
